body {
  background-image: url(https://djangoblogkuby-files.s3.eu-central-1.amazonaws.com/geometric-bg.png);
  background-attachment: fixed;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #2F4F4F;
}

.site-header .navbar-nav .nav-link {
  color: #F0F8FF;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #FFFFF0;
  padding: 10px 20px;
  border: 2px solid #F08080;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  transform: translateX(-400%);
  transition: transform 0.5s ease;
}

.content-show {
  transform: translateX(0);
}

.content-fixed {
  background: #FFFFF0;
  padding: 10px 20px;
  border: 2px solid #F08080;
  border-radius: 3px;
  position: fixed;
  align: right;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.btn {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}


.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.img-post {
  width: 100%;
}

.listbtn {
  border: 2px solid;
  border-color: #F08080;
  color: black;
}

.listbtn:hover {
  background-color: #F08080;
  color: #FFFFF0;
}

#main-footer {
  background: #2F4F4F;
  color: #fff;
  text-align: center;
  padding:10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

