{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA_Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="C:\Users\marys\Desktop\project_blog\project_blog\media\logo.png" height="60px">
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <div>
                <h1>Welcome To My Django Blog</h1>
                <p>I am happy to welcome you into my showcase django project.
                    To build it I used Python and Django as a backend, some JavaScript in the frontend,
                    Flexbox for CSS styling and PostgresSQL as a Database.
                    Please go to About section to find out more.
                </p>
            </div>
            <img src="C:\Users\marys\Desktop\project_blog\project_blog\media\jigsaw.png" height="250px" alt=""/>
        </div>
    </header>

    <section class="boxes">
        <div class="article">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        <div class="box">
            <h2>Your sidebar</h2>
            {% if user.is_authenticated %}
            <p class='text-muted'>What you feel like doing today {{ user.username }}?</p>
            <ul class="list">
                <li>
                    <a class="btn btn-outline-info" href="{% url 'profile' %}">Your Profile</a>
                </li>
                <li>
                    <a class="btn listbtn mb-1" href="{% url 'post-create' %}">New Post</a>
                </li>
                <li>
                    <a class="btn listbtn mb-1" href="{% url 'user-posts' user.username %}">Your Posts</a>
                </li>
                <li>
                    <a class="btn listbtn mb-1" href="{% url 'blog-about' %}">Guide</a>
                </li>
                <li>
                    <a class="btn listbtn" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <p class='text-muted'>Log In or Create a New Profile!</p>
                <li>
                    <a class="btn listbtn mb-1" href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a class="btn listbtn mb-1" href="{% url 'register' %}">Register</a>
                </li>
                <li>
                    <a class="btn listbtn" href="{% url 'blog-test' %}">Showcase</a>
                </li>
        </div>
    </section>

    <footer id="main-footer">
        <p>Copyright &copy; Kuba Firszt 2022</p>
    </footer>
</body>
</html>